# Backend Details
BACKEND_PORT=8080

# Database
BACKEND_DB_HOST=localhost
BACKEND_DB_PORT=5432
BACKEND_DB_USER=postgres
BACKEND_DB_PASSWORD=postgres
BACKEND_DB_NAME=goapi
BACKEND_DB_SSLMODE=disable

# SWGoH API
SWGOH_FETCH_CHARACTER_URL=SOME_API_URL
SWGOH_FETCH_PLAYER_URL=SOME_API_URL

# Authentication
AUTH_SALT=SOME_SALT
AUTH_JWT_SECRET=SOME_SECRET
AUTH_JWT_EXPIRY=24 # hours

# Others
MODE=test
